// principal
$color-white: #fff;
$color-black: #000;

// corp colors
$color-brand-blue : #0d8ac7;

// altres
$color-text:       #4A4A4A;
$color-grey-cool:  #9fa3a7;
$color-red-tomato: #f05638;





