// Layout | Header

.l-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	height: 82px;
	@include padding(null 45px);

	@media #{$portable} {
		display: none;
	}

	.c-nav-share {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}